<div class="container">
    <h1>{{ title }}</h1>
    <table class="order-table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Machine Name</th>
          <th>Order Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.machineName }}</td>
          <td>{{ order.orderDate | date: 'longDate' }}</td>
          <td>{{ order.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
