.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: green;
  color: white;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.nav-btn {
  margin: 0 10px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-btn:hover {
  color: #ddd;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}
