<div class="add-machine-container">
  <h2>Add a New Machine</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="machineName">Machine Name</label>
      <input
        type="text"
        id="machineName"
        formControlName="machineName"
        required
      />
    </div>

    <div class="form-group">
      <label for="map">Map</label>
      <!-- ////////////////////////////////////////////////////// -->
      <!-- <div id="map" style="height: 600px; width: 100%;"></div> -->
      <google-map
        [center]="center"
        [zoom]="zoom"
        [options]="options"
        (mapClick)="onMapClick($event)"
        style="height: 100%; width: 100%;">
        <map-marker *ngIf="selectedPlace" [position]="selectedPlace!"></map-marker>
      </google-map>
      <p *ngIf="selectedPlace">
        Selected Coordinates: <strong>{{ selectedPlace.lat }}, {{ selectedPlace.lng }}</strong>
      </p>
    
      <!-- ////////////////////////////////////////////////////////// -->
    </div>

    <button class="add-machine-btn" (click)="1">Submit</button>

  </form>
</div>
